# Python cache
__pycache__/
*.pyc
.env

# Virtual env
venv/

# VS code
.vscode/settings.json

# Data
data/raw/

# Model checkpoints
models/*.pth
*.pth

# Outputs
output/*.html
*.html

# Jupyter
.ipynb_checkpoints/